dataset/
site_construction_safety_apd/
yolo_apd_project/.venv/
yolo_apd_project/runs/
yolo_apd_project/__pycache__/
yolo_apd_project/*.pt
yolo_apd_project/*.pth
*.zip

node_modules/
frontend/node_modules/
backend/node_modules/

.venv/
ai-service/.venv/

__pycache__/
*.pyc

dist/
build/

.env
.vscode/

*.log

ai-service/best.pt